* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root selector --start */
:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    --main-color: #0d9488;
    --secondary-color: #115e59;
}
/* root selector --end */

/* html, body --start */
html, body {
    height: 100vh;
    min-width: 280px;
}
/* html, body --end */

/* give all button cursor pointer */
* > button:hover {
    cursor: pointer;
}

/* container class -- start */
.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 8fr / 1fr;
}
/* container class -- end */

/* header section --start */
header {
    justify-self: center;
    max-height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 5px #000;
    z-index: 1;
    padding: 20px;
}

header > p {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    background-color: #fff;
    color: var(--main-color);
}
/* header section --end */


/* main section --start */
main {
    height: 100%;
    background-color: #f1f5f9;
    display: grid;
    grid-template: 100px repeat(auto-fill, minmax(300px, 1fr))  / repeat(auto-fill, minmax(230px, 1fr));
    gap: 10px;
    padding: 20px;
}

main > p {
    align-self: center;
    display: grid;
    justify-items: center;
    font-size: 1.5rem;
    grid-column: 1 / -1;
    color: var(--secondary-color);
    font-weight: bold;
}

main > p > button {
    border-radius: 20px;
    font-size: 0.9rem;
    padding: 10px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    margin: 20px;
}

main > p > button:hover {
    background-color: var(--secondary-color);
}


main .card {
    min-height: 300px;
    display: grid;
    align-items: center;
    grid-template: 24px 1fr 1fr 1fr 1fr / 1fr;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 5px -2px #000;
    border: 1px solid;
}

main .card > label > input {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    width: 15px;
    accent-color: var(--main-color);
}

main .card > label:hover, input[type="checkbox"]:hover {
    cursor: pointer;
}


main .card > * , dialog > form > label { /* include dialog form label to reduce repeated code */
    font-weight: bold;
    color: var(--secondary-color);
}

main .card > p > span {
    color: var(--main-color);
}

main .card > button {
    border: none;
    background: none;
    width: 10%;
    justify-self: end;
}
/* main section --end */


/* dialog modal --start */
dialog {
    margin: auto;
    max-width: 250px;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

dialog::backdrop {
    background-color: #000;
    opacity: 0.5;
}

dialog > form {
    display: grid;
    grid-template: 24px 1fr 1fr 1fr / 1fr;
    align-items: center;
    gap: 10px;
}

dialog > form > label > input:focus {
    outline: none;
}

dialog > form > label > input[type="text"], [type="number"] {
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 0.5px solid;
    font-size: 1rem;
}

dialog > form > label > input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    width: 15px;
    accent-color: var(--main-color);
}

dialog > form > .status:hover, input[type="checkbox"]:hover {
    cursor: pointer;
}

dialog .close {
    background: none;
    border: none;
    color: red;
}

dialog .ok {
    color: green;
    background: none;
    border: none;
    margin: 0rem 1rem;
}

dialog .close:focus {
    outline: none;
}

dialog .method {
    justify-self: end;
}
/* dialog modal --end */
